
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Playfair Display', serif;
    background: #f3f0eb;
    color: #2b2b2b;
}

.background {
    background-color: #f3f0eb;
    text-align: center;
    padding-top: 50px;
}

.logo {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 48px;
    margin: 0;
}
